version: 1.0.{build}

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

cache:
  - src\packages -> **\packages.config

platform: Any CPU

configuration: Release

before_build:
  - nuget restore DependencyTree.sln
  
build:
  project: DependencyTree.sln
  
artifacts:
  - path: '\DependencyTree\bin\Release\DependencyTree.exe'